.button {
    width: 100%;
    transition: 0.3s all;

    button {
        font-size: 1rem;
        color: #fff;
        height: 60px;
        width: 100%;
        border-radius: 100px;
        border: none;
        box-sizing: border-box;
        transition: 0.3s all linear;
    }

    &.active {
        button {
            transition: 0.3s all linear;
            background: linear-gradient(270deg, #ff6b00 0%, #8e00e5 100%);
        }
    }

    &.disabled {
        button {
            transition: 0.3s all linear;
            color: #322b34;
            background: #cdcdcd;
            font-weight: 600;
        }
    }
}
