.popup {
    &-wrapper {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1002;
        display: none;

        &__active {
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(2px);
            transition: 0.5s all;
            display: initial;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-modal {
        position: absolute;
        width: 100%;
        background: #ffffff;
        box-sizing: border-box;
        max-height: 650px;
        width: 90%;
        border-radius: 15px;
        max-width: 400px;

        &.popup-top-bt {
            top: 0;
            border-radius: 0 0 50px 0;
        }

        &.popup-bt-top {
        }

        &__content {
            padding: 19px 30px;
            height: 100%;
            box-sizing: border-box;
        }
    }
}
