:root {
    --btn_active: linear-gradient(270deg, #ff6b00 0%, #8e00e5 100%);
    --btn_disabled: #cdcdcd;
    --btn_var_3: #f77600;
    --btn_var_4: #ffe5cc;
    --main_btn_text_color: #7300e5;

    --error_color: #da1e28;

    --bg_light_color: #fff;
}
