@import './_reset.scss';
@import './_variables.scss';
@import './transition.scss';
@import './_popup.scss';

:root {
    font-size: 16px;
}

body {
    background-color: #ddddff;
}

.page {
    // padding: 17px;
    box-sizing: border-box;
}
